*.fasta
*.fasta.*
*.fa
*.fa.*
*.fq
*.fq.*
*.fastq
*.fastq.*
*.bam
*.bam.*
*.sam
*vcf
dDocentHPC/
*discards
*json
mkREF*/
*screen.html
*screen.png
*raw*vcf
*bed
*Total*vcf*
utils/process_fqscrn_out_files/figure-html/MiSeq Samples-1.png
utils/process_fqscrn_out_files/figure-html/Overall Mean-1.png
original_attempt/
*uniq.seqs
*fqscrn*out
*screen.txt
*uniqCperindv*
*uniq.k.*seqs
*preprocess_summary*out
*html
*json
!*report.html
rad_haplotyper/
*repr*log
Reference_Sequence/
*mito_map*out
Mitochondrial_Mapping/tmp_prefix_file
*mitoBLAST*out
*blast_out/
*raw_blast_results.csv
scripts/fltrVCF*/